body {
  height: 100vh;
  width: 100vw;
  background: #222; /* Something behind the glass */
}

.glass {
  width: 300px;
  height: 200px;

  background-color: rgba(255, 0, 0, 0.5); /* Transparent red */
}
