body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;

    /* Dark background */
    background: #0d0d0d;
    color: #f2f2f2; /* Light text */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
}
