body {
  height: 100vh;
  width: 100vw;

  /* MUST have a background to see transparency */
  background: #222;

  display: flex;
  justify-content: center;
  align-items: center;
}

.glass {
  width: 300px;
  height: 200px;

  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */

  border-radius: 10px;
}
